.wrapper {
    display: flex;
    justify-content: space-around;
    margin: 5rem 0;
    align-items: flex-start;
    position: relative;
    animation: move .5s;

    .left-container {
        font-size: 2rem;
        .name-highlight {
            color: var(--primary);
        }
    }

    .right-container {
        .personal-logo {
            width: 350px;
            height: 300px;
        }
    }

}

@keyframes move {
    0% {
        left: -100%;
    }
    100% {
        left: 0;
    }
}
@media(max-width: 320px) {
    .wrapper {
       width: 100%;
       margin: 1rem 0;
       .right-container {
        display: none;
       }
       .left-container {
        font-size: 1rem;
       }
    }
}
@media(min-width: 321px) and (max-width: 540px) {
    .wrapper {
        width: 100%;
        margin: 1rem 0;
        .right-container {
         display: none;
        }
        .left-container {
         font-size: 1rem;
        }
     }
}
@media(min-width: 541px) and (max-width: 720px) {
    .wrapper {
        width: 100%;
        margin: 1rem 0;
        .right-container {
         display: none;
        }
        .left-container {
         font-size: 1rem;
        }
     }
}
@media(min-width: 721px) and (max-width: 960px) {
    .wrapper {
        width: 100%;
        margin: 1rem 0;
        align-items: center;
        .right-container {
        //  display: none;
        }
        .left-container {
         font-size: 1rem;
        }
     }
}
@media(min-width: 961px) and (max-width: 1200px) {
    .wrapper {
        width: 100%;
        margin: 1rem 0;
        align-items: center;
        .right-container {
        //  display: none;
        }
        .left-container {
         font-size: 1.5rem;
        }
     }

}
@media(min-width: 1201px) and (max-width: 1500px) {}
@media(min-width: 1501px) and (max-width: 1920px) {}
@media(min-width: 1921px) {}
